In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv(r'F:\Data Science\Data-Science-Salary-Project\artifacts\data_cleaned.csv')
data.head()

,Company Name,Job Title,Location,Job Description,Rating,Size,Industry,Sector,Founded,Ownership,...,avg_salary,age,python,r,spark,aws,excel,genai,LLMs,sql
0,Karmaeduconsultant,Data Scientist,Karmaeduconsultant,Job Description: As a Data Scientist at our co...,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Finance,2006.0,Company - Private,...,7,18.0,1,0,1,0,1,0,0,1
1,AQB Solutions Pvt Ltd,Data Scientist,Remote,Must have: Minimum Experience 5+years\nPython ...,4.6,51 - 200 Employees,Enterprise Software & Network Solutions,Information Technology,2009.0,Company - Private,...,11,15.0,1,0,0,0,0,0,0,1
2,Zelton Solutions,Data Scientist,Zelton Solutions,Job Description:\nResponsibilities:\nCollabora...,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Management and consulting,2009.0,Company - Private,...,12,15.0,0,0,0,0,0,0,1,0
3,Global Employees,Python Data Scientist(Contract),Global Employees,Job Description\nPython Data Scientist/Analyst...,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Finance,2009.0,Company - Private,...,25,15.0,1,0,0,0,0,0,0,0
4,Saaki Argus & Averil Consulting,Junior Data Scientist,Chennai,About the Role:\nWe are looking for a Data Sci...,4.1,51 - 200 Employees,HR Consulting,Human resources and staffing,1998.0,Private Practice / Firm,...,6,26.0,0,0,0,0,0,0,0,0

In [5]:
data.columns

Index(['Company Name', 'Job Title', 'Location', 'Job Description', 'Rating',
       'Size', 'Industry', 'Sector', 'Founded', 'Ownership', 'Revenue',
       'min_salary', 'max_salary', 'avg_salary', 'age', 'python', 'r', 'spark',
       'aws', 'excel', 'genai', 'LLMs', 'sql'],
      dtype='object')

In [12]:
data1 = pd.read_csv(r'F:\Data Science\Data-Science-Salary-Project\data\data_cleaned.csv')
data1.head()

,Company Name,Job Title,Location,Job Description,Rating,Size,Industry,Sector,Founded,Ownership,...,avg_salary,age,python,r,spark,aws,excel,genai,LLMs,sql
0,Karmaeduconsultant,Data Scientist,Karmaeduconsultant,Job Description: As a Data Scientist at our co...,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Finance,2006.0,Company - Private,...,7,18.0,1,0,1,0,1,0,0,1
1,AQB Solutions Pvt Ltd,Data Scientist,Remote,Must have: Minimum Experience 5+years\nPython ...,4.6,51 - 200 Employees,Enterprise Software & Network Solutions,Information Technology,2009.0,Company - Private,...,11,15.0,1,0,0,0,0,0,0,1
2,Zelton Solutions,Data Scientist,Zelton Solutions,Job Description:\nResponsibilities:\nCollabora...,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Management and consulting,2009.0,Company - Private,...,12,15.0,0,0,0,0,0,0,1,0
3,Global Employees,Python Data Scientist(Contract),Global Employees,Job Description\nPython Data Scientist/Analyst...,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Finance,2009.0,Company - Private,...,25,15.0,1,0,0,0,0,0,0,0
4,Saaki Argus & Averil Consulting,Junior Data Scientist,Chennai,About the Role:\nWe are looking for a Data Sci...,4.1,51 - 200 Employees,HR Consulting,Human resources and staffing,1998.0,Private Practice / Firm,...,6,26.0,0,0,0,0,0,0,0,0

In [13]:
data1.columns

Index(['Company Name', 'Job Title', 'Location', 'Job Description', 'Rating',
       'Size', 'Industry', 'Sector', 'Founded', 'Ownership', 'Revenue',
       'min_salary', 'max_salary', 'avg_salary', 'age', 'python', 'r', 'spark',
       'aws', 'excel', 'genai', 'LLMs', 'sql'],
      dtype='object')

In [9]:
data1.shape

(900, 24)

In [8]:
data.columns

Index(['Company Name', 'Job Title', 'Location', 'Job Description', 'Rating',
       'Size', 'Industry', 'Sector', 'Founded', 'Ownership', 'Revenue',
       'min_salary', 'max_salary', 'avg_salary', 'age', 'python', 'r', 'spark',
       'aws', 'excel', 'genai', 'LLMs', 'sql'],
      dtype='object')

In [11]:
data.shape

(900, 23)

In [35]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower() or 'associate' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'junior'
    else:
        return 'na'

In [36]:
data1['seniority'] = data1['Job Title'].apply(seniority)

In [37]:
data1.seniority.value_counts()

seniority
na        669
senior    228
junior      3
Name: count, dtype: int64

In [34]:
data1['Job Title'].value_counts().head(30)

Job Title
Data Scientist                                                       259
Senior Data Scientist                                                 56
Machine Learning Engineer                                             32
Lead Data Scientist                                                   14
Sr. Data Scientist                                                    13
Junior Data Scientist                                                  9
Data Science Engineer                                                  9
Principal Data Scientist                                               8
Data Science                                                           8
Associate Data Scientist                                               6
Data Science Trainer                                                   5
Data Scientist II                                                      5
Sr Data Scientist                                                      4
AI/ML Engineer                                                         4
DATA SCIENTIST                                                         4
Machine Learning Intern                                                4
ML Engineer                                                            3
Data Engineer                                                          3
Data scientist                                                         3
Deep Learning Engineer                                                 3
Data Science Intern                                                    3
Machine Learning                                                       2
Data Scientist 3                                                       2
Manager Data Science                                                   2
Full Stack Data Scientist                                              2
Data Scientist (Machine Learning)                                      2
Data Scientist (Real-World Evidence & Medical Claims) - Homebased      2
Deep Learning Scientist                                                2
Applied Scientist                                                      2
Data Science Lead                                                      2
Name: count, dtype: int64

In [30]:
data1['seniority1'] = data1['Job Title'].apply(seniority)

In [31]:
data1['seniority1'].value_counts()

seniority1
na        669
senior    228
jr          3
Name: count, dtype: int64

In [41]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data analyst' in title.lower():
        return 'data analyst'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    elif 'python data scientist' in title.lower():
        return 'python data scientist'
    else:
        return 'na'

In [43]:
data1['job_simp'] = data1['Job Title'].apply(title_simplifier)

In [44]:
data1['job_simp'].value_counts()

job_simp
data scientist    611
na                153
mle                77
data engineer      13
manager            13
analyst            13
director           11
data analyst        9
Name: count, dtype: int64