In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv(r'F:\Data Science\Data-Science-Salary-Project\artifacts\data_cleaned.csv')
data.head()

,Company Name,Job Title,Location,Job Description,Rating,Size,Industry,Sector,Founded,Ownership,...,avg_salary,age,python,r,spark,aws,excel,genai,LLMs,sql
0,Karmaeduconsultant,Data Scientist,Karmaeduconsultant,Job Description: As a Data Scientist at our co...,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Finance,2006.0,Company - Private,...,7,18.0,1,0,1,0,1,0,0,1
1,AQB Solutions Pvt Ltd,Data Scientist,Remote,Must have: Minimum Experience 5+years\nPython ...,4.6,51 - 200 Employees,Enterprise Software & Network Solutions,Information Technology,2009.0,Company - Private,...,11,15.0,1,0,0,0,0,0,0,1
2,Zelton Solutions,Data Scientist,Zelton Solutions,Job Description:\nResponsibilities:\nCollabora...,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Management and consulting,2009.0,Company - Private,...,12,15.0,0,0,0,0,0,0,1,0
3,Global Employees,Python Data Scientist(Contract),Global Employees,Job Description\nPython Data Scientist/Analyst...,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Finance,2009.0,Company - Private,...,25,15.0,1,0,0,0,0,0,0,0
4,Saaki Argus & Averil Consulting,Junior Data Scientist,Chennai,About the Role:\nWe are looking for a Data Sci...,4.1,51 - 200 Employees,HR Consulting,Human resources and staffing,1998.0,Private Practice / Firm,...,6,26.0,0,0,0,0,0,0,0,0

In [5]:
data.columns

Index(['Company Name', 'Job Title', 'Location', 'Job Description', 'Rating',
       'Size', 'Industry', 'Sector', 'Founded', 'Ownership', 'Revenue',
       'min_salary', 'max_salary', 'avg_salary', 'age', 'python', 'r', 'spark',
       'aws', 'excel', 'genai', 'LLMs', 'sql'],
      dtype='object')

In [12]:
data1 = pd.read_csv(r'F:\Data Science\Data-Science-Salary-Project\data\data_cleaned.csv')
data1.head()

,Company Name,Job Title,Location,Job Description,Rating,Size,Industry,Sector,Founded,Ownership,...,avg_salary,age,python,r,spark,aws,excel,genai,LLMs,sql
0,Karmaeduconsultant,Data Scientist,Karmaeduconsultant,Job Description: As a Data Scientist at our co...,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Finance,2006.0,Company - Private,...,7,18.0,1,0,1,0,1,0,0,1
1,AQB Solutions Pvt Ltd,Data Scientist,Remote,Must have: Minimum Experience 5+years\nPython ...,4.6,51 - 200 Employees,Enterprise Software & Network Solutions,Information Technology,2009.0,Company - Private,...,11,15.0,1,0,0,0,0,0,0,1
2,Zelton Solutions,Data Scientist,Zelton Solutions,Job Description:\nResponsibilities:\nCollabora...,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Management and consulting,2009.0,Company - Private,...,12,15.0,0,0,0,0,0,0,1,0
3,Global Employees,Python Data Scientist(Contract),Global Employees,Job Description\nPython Data Scientist/Analyst...,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Finance,2009.0,Company - Private,...,25,15.0,1,0,0,0,0,0,0,0
4,Saaki Argus & Averil Consulting,Junior Data Scientist,Chennai,About the Role:\nWe are looking for a Data Sci...,4.1,51 - 200 Employees,HR Consulting,Human resources and staffing,1998.0,Private Practice / Firm,...,6,26.0,0,0,0,0,0,0,0,0

In [13]:
data1.columns

Index(['Company Name', 'Job Title', 'Location', 'Job Description', 'Rating',
       'Size', 'Industry', 'Sector', 'Founded', 'Ownership', 'Revenue',
       'min_salary', 'max_salary', 'avg_salary', 'age', 'python', 'r', 'spark',
       'aws', 'excel', 'genai', 'LLMs', 'sql'],
      dtype='object')

In [9]:
data1.shape

(900, 24)

In [8]:
data.columns

Index(['Company Name', 'Job Title', 'Location', 'Job Description', 'Rating',
       'Size', 'Industry', 'Sector', 'Founded', 'Ownership', 'Revenue',
       'min_salary', 'max_salary', 'avg_salary', 'age', 'python', 'r', 'spark',
       'aws', 'excel', 'genai', 'LLMs', 'sql'],
      dtype='object')

In [11]:
data.shape

(900, 23)

In [35]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower() or 'associate' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'junior'
    else:
        return 'na'

In [36]:
data1['seniority'] = data1['Job Title'].apply(seniority)

In [37]:
data1.seniority.value_counts()

seniority
na        669
senior    228
junior      3
Name: count, dtype: int64

In [34]:
data1['Job Title'].value_counts().head(30)

Job Title
Data Scientist                                                       259
Senior Data Scientist                                                 56
Machine Learning Engineer                                             32
Lead Data Scientist                                                   14
Sr. Data Scientist                                                    13
Junior Data Scientist                                                  9
Data Science Engineer                                                  9
Principal Data Scientist                                               8
Data Science                                                           8
Associate Data Scientist                                               6
Data Science Trainer                                                   5
Data Scientist II                                                      5
Sr Data Scientist                                                      4
AI/ML Engineer                                                         4
DATA SCIENTIST                                                         4
Machine Learning Intern                                                4
ML Engineer                                                            3
Data Engineer                                                          3
Data scientist                                                         3
Deep Learning Engineer                                                 3
Data Science Intern                                                    3
Machine Learning                                                       2
Data Scientist 3                                                       2
Manager Data Science                                                   2
Full Stack Data Scientist                                              2
Data Scientist (Machine Learning)                                      2
Data Scientist (Real-World Evidence & Medical Claims) - Homebased      2
Deep Learning Scientist                                                2
Applied Scientist                                                      2
Data Science Lead                                                      2
Name: count, dtype: int64

In [30]:
data1['seniority1'] = data1['Job Title'].apply(seniority)

In [31]:
data1['seniority1'].value_counts()

seniority1
na        669
senior    228
jr          3
Name: count, dtype: int64

In [41]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data analyst' in title.lower():
        return 'data analyst'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    elif 'python data scientist' in title.lower():
        return 'python data scientist'
    else:
        return 'na'

In [43]:
data1['job_simp'] = data1['Job Title'].apply(title_simplifier)

In [44]:
data1['job_simp'].value_counts()

job_simp
data scientist    611
na                153
mle                77
data engineer      13
manager            13
analyst            13
director           11
data analyst        9
Name: count, dtype: int64

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../artifacts/data_eda.csv')
print(df.head())

   Rating                   Size                                 Industry  \
0     4.0  1001 - 5000 Employees  Enterprise Software & Network Solutions
1     4.6     51 - 200 Employees  Enterprise Software & Network Solutions
2     4.0  1001 - 5000 Employees  Enterprise Software & Network Solutions
3     4.0  1001 - 5000 Employees  Enterprise Software & Network Solutions
4     4.1     51 - 200 Employees                            HR Consulting

                         Sector                Ownership          Revenue  \
0                       Finance        Company - Private  10000+ million
1        Information Technology        Company - Private  10000+ million
2     Management and consulting        Company - Private  10000+ million
3                       Finance        Company - Private  10000+ million
4  Human resources and staffing  Private Practice / Firm  10000+ million

   min_salary  max_salary  avg_salary   age  python  spark  aws  excel  LLMs  \
0           4          10           7  18.0       1      1    0      1     0
1          10          12          11  15.0       1      0    0      0     0
2           5          19          12  15.0       0      0    0      0     1
3          20          30          25  15.0       1      0    0      0     0
4           3           9           6  26.0       0      0    0      0     0

   sql        Job_simp seniority
0    1  data scientist        na
1    1  data scientist        na
2    0  data scientist        na
3    0  data scientist        na
4    0  data scientist        na

In [2]:
df

,Rating,Size,Industry,Sector,Ownership,Revenue,min_salary,max_salary,avg_salary,age,python,spark,aws,excel,LLMs,sql,Job_simp,seniority
0,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Finance,Company - Private,10000+ million,4,10,7,18.0,1,1,0,1,0,1,data scientist,na
1,4.6,51 - 200 Employees,Enterprise Software & Network Solutions,Information Technology,Company - Private,10000+ million,10,12,11,15.0,1,0,0,0,0,1,data scientist,na
2,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Management and consulting,Company - Private,10000+ million,5,19,12,15.0,0,0,0,0,1,0,data scientist,na
3,4.0,1001 - 5000 Employees,Enterprise Software & Network Solutions,Finance,Company - Private,10000+ million,20,30,25,15.0,1,0,0,0,0,0,data scientist,na
4,4.1,51 - 200 Employees,HR Consulting,Human resources and staffing,Private Practice / Firm,10000+ million,3,9,6,26.0,0,0,0,0,0,0,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769,3.9,10000+ Employees,Machinery Manufacturing,Manufacturing,Company - Public,2000 - 5000 million,6,7,6,58.0,0,0,0,1,0,0,mle,na
770,4.6,1 - 50 Employees,Enterprise Software & Network Solutions,Finance,Company - Private,100 - 500 million,3,8,5,58.0,0,0,0,0,0,0,na,na
771,3.5,1001 - 5000 Employees,Biotech & Pharmaceuticals,Pharmaceutical and biotechnology,Subsidiary or Business Segment,2000 - 5000 million,7,9,8,89.0,0,0,0,1,0,0,data engineer,na
772,4.3,10000+ Employees,Computer Hardware Development,Information Technology,Company - Public,10000+ million,4,6,5,49.0,0,0,1,0,0,0,na,na
773,3.9,10000+ Employees,Internet & Web Services,Information Technology,Company - Public,10000+ million,6,8,7,15.0,0,0,0,0,0,0,data scientist,senior

In [3]:
df.Rating.value_counts()

Rating
4.0    287
4.1     87
3.9     56
3.7     52
3.8     48
4.2     45
4.3     33
3.6     27
4.4     21
3.4     19
3.5     19
4.6     14
4.5     13
4.8     12
5.0     10
4.7      8
2.9      4
3.3      4
2.6      3
3.2      2
3.0      2
4.9      2
3.1      2
2.4      1
1.0      1
2.0      1
2.5      1
Name: count, dtype: int64

In [4]:
def group_ratings(col):
    if 1.0 <= col < 2.0:
        return '1 - 2 Rating'
    elif 2.0 <= col < 3.0:
        return '2 - 3 Rating'
    elif 3.0 <= col < 4.0:
        return '3 - 4 Rating'
    elif 4.0 <= col < 5.0:
        return '4 - 5 Rating'

In [5]:
df['Ratings'] = df['Rating'].apply(group_ratings)

In [2]:
print(df.Ratings.value_counts())

Ratings
4 - 5 Rating    522
3 - 4 Rating    231
2 - 3 Rating     10
1 - 2 Rating      1
Name: count, dtype: int64

In [8]:
df.Rating.value_counts().sort_index(ascending=False)

Rating
5.0     10
4.9      2
4.8     12
4.7      8
4.6     14
4.5     13
4.4     21
4.3     33
4.2     45
4.1     87
4.0    287
3.9     56
3.8     48
3.7     52
3.6     27
3.5     19
3.4     19
3.3      4
3.2      2
3.1      2
3.0      2
2.9      4
2.6      3
2.5      1
2.4      1
2.0      1
1.0      1
Name: count, dtype: int64

In [3]:
df.age.value_counts()

age
26.0     47
12.0     36
7.0      34
10.0     33
49.0     30
         ..
53.0      1
125.0     1
137.0     1
105.0     1
103.0     1
Name: count, Length: 84, dtype: int64

In [4]:
df.Job_simp.value_counts()

Job_simp
data scientist    525
na                134
mle                73
analyst            18
data engineer      10
manager             9
director            5
Name: count, dtype: int64

In [5]:
df.seniority.value_counts()

seniority
na        599
senior    172
jr          3
Name: count, dtype: int64

In [7]:
df.age.value_counts().sum()

774

In [8]:
df.age.value_counts().nunique()

25

In [9]:
df.age.nunique()

84

In [10]:
df.age.describe()

count    774.000000
mean      44.715762
std       54.326542
min        3.000000
25%       12.000000
50%       26.000000
75%       49.000000
max      334.000000
Name: age, dtype: float64

In [11]:
df.python.value_counts()

python
0    588
1    186
Name: count, dtype: int64

In [12]:
df.seniority.value_counts()

seniority
na        599
senior    172
jr          3
Name: count, dtype: int64

In [6]:
from src.utils import load_object

model = load_object('../artifacts/model.pkl')
preprocessor = load_object('../artifacts/preprocessor.pkl')

In [7]:
print(type(preprocessor()))

TypeError: 'NoneType' object is not callable

In [21]:
print(type(model))

<class 'NoneType'>

In [19]:
print(type(model1))

<class 'NoneType'>

In [12]:
from src.utils import load_object

prepro = load_object(r'F:\Data Science\Data-Science-Salary-Project\artifacts\preprocessor.pkl')

print(prepro)

ColumnTransformer(transformers=[('num_pipeline',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='median'))]),
                                 ['Rating', 'age', 'python', 'spark', 'aws',
                                  'excel', 'LLMs', 'sql']),
                                ('cat_pipeline',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('encoder', OneHotEncoder())]),
                                 ['Size', 'Industry', 'Sector', 'Ownership',
                                  'Revenue', 'Job_simp', 'seniority'])])

In [10]:
from src.utils import load_object

model = load_object(r'F:\Data Science\Data-Science-Salary-Project\artifacts\model.pkl')

print(type(model))

<class 'NoneType'>

In [3]:
df.Sector.value_counts()

Sector
Information Technology              326
Finance                             146
Management and consulting           142
Manufacturing                       123
Pharmaceutical and biotechnology     20
Human resources and staffing         17
Name: count, dtype: int64

In [9]:
df.Ownership.value_counts()

Ownership
Company - Private                 459
Company - Public                  293
Private Practice / Firm            12
Subsidiary or Business Segment     10
Name: count, dtype: int64

In [10]:
df.Revenue.value_counts()

Revenue
10000+ million           482
2000 - 5000 million      151
100 - 500 million         82
5 - 25 million            20
25 - 50 million           15
5000 - 10000 million      13
1 - 5 million             11
Name: count, dtype: int64

In [11]:
df.Revenue.dtype

dtype('O')

In [4]:
df.shape

(774, 18)

In [5]:
df.columns

Index(['Rating', 'Size', 'Industry', 'Sector', 'Ownership', 'Revenue',
       'min_salary', 'max_salary', 'avg_salary', 'age', 'python', 'spark',
       'aws', 'excel', 'LLMs', 'sql', 'Job_simp', 'seniority'],
      dtype='object')

In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('../artifacts/data_eda.csv')
train_set = pd.read_csv('../artifacts/train.csv')
test_set = pd.read_csv('../artifacts/test.csv')

In [15]:
df.Revenue.value_counts()

Revenue
10000+ million           503
2000 - 5000 million      157
100 - 500 million         88
5 - 25 million            20
25 - 50 million           16
5000 - 10000 million      16
1 - 5 million             12
Name: count, dtype: int64

In [16]:
train_set.Revenue.value_counts()

Revenue
10000+ million           410
2000 - 5000 million      119
100 - 500 million         71
5 - 25 million            15
25 - 50 million           13
5000 - 10000 million      11
1 - 5 million             10
Name: count, dtype: int64

In [17]:
test_set.Revenue.value_counts()

Revenue
10000+ million           93
2000 - 5000 million      38
100 - 500 million        17
5000 - 10000 million      5
5 - 25 million            5
25 - 50 million           3
1 - 5 million             2
Name: count, dtype: int64

In [18]:
from src.utils import load_object
preprocessor1 = load_object(file_path='../artifacts/preprocessor.pkl')
print(preprocessor1)

ColumnTransformer(transformers=[('num_pipeline',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='median'))]),
                                 ['Rating', 'age', 'python', 'spark', 'aws',
                                  'excel', 'LLMs', 'sql']),
                                ('cat_pipeline',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('encoder',
                                                  OneHotEncoder(sparse_output=False))]),
                                 ['Size', 'Industry', 'Sector', 'Ownership',
                                  'Revenue', 'Job_simp', 'seniority'])])

In [19]:
model1 = load_object(file_path='../artifacts/model.pkl')
print(model1)

<catboost.core.CatBoostRegressor object at 0x0000001FBC3C9CA0>

In [20]:
if hasattr(preprocessor1, 'named_transformers_'):
            revenue_encoder = preprocessor1.named_transformers_['cat_pipeline'].named_steps['encoder']
            print("Encoder Categories for Revenue:")
            for i, cat in enumerate(revenue_encoder.categories_):
                print(f"Column {i}: {cat}")

Encoder Categories for Revenue:
Column 0: ['1 - 50 Employees' '10000+ Employees' '1001 - 5000 Employees'
 '201 - 500 Employees' '5001 - 10000 Employees' '501 - 1000 Employees'
 '51 - 200 Employees']
Column 1: ['Advertising & Public Relations' 'Banking & Lending'
 'Biotech & Pharmaceuticals' 'Business consulting'
 'Computer Hardware Development' 'Electronics Manufacturing'
 'Enterprise Software & Network Solutions' 'HR Consulting'
 'Health Care Products Manufacturing'
 'Information Technology Support Services' 'Internet & Web Services'
 'Investment & Asset Management' 'Machinery Manufacturing'
 'Research and development' 'Software Development'
 'Transportation Equipment Manufacturing']
Column 2: ['Finance' 'Human resources and staffing' 'Information Technology'
 'Management and consulting' 'Manufacturing' 'Media and communication'
 'Pharmaceutical and biotechnology']
Column 3: ['Company - Private' 'Company - Public' 'Private Practice / Firm'
 'Subsidiary or Business Segment']
Column 4: ['1 - 5 million ' '100 - 500 million ' '10000+ million '
 '2000 - 5000 million ' '25 - 50 million ' '5 - 25 million '
 '5000 - 10000 million ']
Column 5: ['analyst' 'data engineer' 'data scientist' 'director' 'manager' 'mle'
 'na']
Column 6: ['jr' 'na' 'senior']